/* variables globales */
:root{
    --blanco: #ffffff;
    --oscuro: #2b2626;
    --primario: #217F9E;
    --secundario: #EB6084;
    --gris: #FFE831;
}

/* globales */
html{
    font-size: 65.5%;
    box-sizing: border-box; /* hack para box-model */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px; /*1 rem = 10px*/
    font-family: 'Syne Mono', monospace !important;
}

.contenedor{
    width: 100%;

}

/* Tipografia */
a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    /* background-color: var(--oscuro); */
    padding: 1rem;
    filter: opacity(40%);
}
a:hover{
    background-color: var(--oscuro);
    filter: none;
}
h1{
    font-size: 3.8rem !important;
}

h2{
    font-size: 2.8rem !important;
}

h3{
    font-size: 2rem !important;
}

h1, h2, h3{
    text-align: center;
    font-weight: bold;
}

p{
    font-size: 1.8rem !important;
}

/* Header */
.header{
    background-image: url(../img/disenoweb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter:drop-shadow(10%);
    height: 60rem;
    display: flex;

}
.header__logo{
    flex: 1;
    
    text-align: left;
}
.header__logo--imagen{
    width: 10rem;
}
.header__menu{
    visibility: hidden;
    text-align: right;
}
.header__navegacion{
    display: flex;
    gap: 2rem;
    justify-content: right;
}
.boton{
    visibility: visible;
    text-align: right;
    margin-right: 4rem;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
}
.boton:hover{
    cursor: pointer;
}
.imagen--boton{
    width: 5rem;
    background-color: var(--blanco);
    border-radius: 100%;
    padding: 1rem;
}
@media (min-width: 768px) { 
    .header__navegacion{
        flex: 3;
        padding: 4rem;
        visibility: visible;
    }
    .boton{
        visibility: hidden;
    }
}


/* Seciotn */
.section{
    margin: 4.5rem;
}

.contenedor-mi-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    /* background-color: #5ebcdb; */
}

@media (max-width: 768px) { 
    .contenedor-mi-info{
        width: 100%;
        display: block;
        padding: 4rem;
    }   

    .contenedor-mi-info .mi-info{
        width: 100%;
    }

    .contenedor-mi-info .mi-info p{
        font-size: 1.8rem;
        /* font-weight: 700; */
        text-align: center;
    }

    .contenedor-mi-info .foto{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.contenedor-mi-info .mi-info{
    width: 100%;
}

.contenedor-mi-info .mi-info p{
    font-size: 1.8rem;
    /* font-weight: 700; */
}

.contenedor-mi-info .foto{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Carrusel*/

.container{
    max-width: 80%, !important;
}

/* Herramientas de desarrollo */

.section .Contenido-Servicios{
    width: 100%;
    display: flex;
    overflow: hidden;
}



.Contenido-Servicios .servicios{
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.Contenido-Servicios .servicios img{
    width: 250px;
    object-fit: cover;
    transform: scale(1);
    transition: transform 1s;
}

.Contenido-Servicios .servicios img:hover{
    transform: scale(1.2);
}

@media (max-width: 768px) { 
    .section .Contenido-Servicios{
        width: 100%;
        display: block;
        overflow: hidden;
    }
    .Contenido-Servicios .servicios{
       width: 100%;
    }
}

/*Servicios*/

.contenedor-servicios{
    display: flex;
    max-width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-left: 10rem;
    gap: 4rem;
}
.ofertas{
    width: 100%;
}
.diseno-card{
    padding: 5rem;
}

@media (min-width: 768px) { 
    .contenedor-servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5rem;
        margin-left: 20rem;
    }
    .ofertas{
        width: 100%;
    }

    .diseno-card{
        padding: 5rem;
    }
   
}

/* Footer */
.footer{
    margin-top: 15px;
}

.footer .content-footer{
    padding: 4.5rem;
    background:rgba(65, 60, 60, 0.5);
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.footer .content-footer .yo{
    width: 75%;
}
.footer .content-footer .yo h3{
    text-align: left;
}

.footer .content-footer .Sociales{
    width: 25%;
}

.footer .content-footer .Sociales i{
    font-size: 30px;
    background-color: #fff;
    color: #8a7c6f;
    width: 50px;
    height: 50%;
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    margin: 0 15px 0 0 ;
}

.footer .content-footer .Derechos{
    margin: auto;
}

@media (max-width: 768px) { 
    .footer .content-footer{
        display: flex;

        width: 100%;
    }
    .footer .content-footer .yo{
        width: 100%;
        margin-right: 25px;
        margin-bottom: 10px;
    }

    .footer .content-footer .yo h3{
        text-align: center;
    }

    .footer .content-footer .yo p{
        text-align: center;
    }
    .footer .content-footer .Sociales{
        width: 100%;
        margin-right: 25px;
        text-align: center;
        margin-bottom: 10px;
    }
}
